__pycache__
/delivery/data_splits/*
/delivery/graphs/*
/delivery/models/*
/delivery/real_graphs/*

/custom/data_splits/*
/custom/data_splits_scalability_test/*
/custom/graphs/*
/custom/graphs_scalability_test/*
/custom/models/*
/custom/models_old/*
/custom/old_outputs/*

/custom/plots/*
/custom/real_graphs/*
/custom/*.pickle
